body {
    font-family: 'Arimo', sans-serif;
    -webkit-font-smoothing: antialiased;
}

.nostyle {
    color: inherit;
}

.nodec:hover {
    text-decoration: none;
}

.active {
    text-decoration: underline;
}

.spaced {
    letter-spacing: .35em;
}

.menu {3
    color: #333;
}
