<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href="//fonts.googleapis.com/css?family=Arimo:400,400italic,700italic" rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="/css/basscss.css">
        <link rel="stylesheet" href="/css/base.css">
    </head>

    <body>
      <div class="mxn2 clearfix">
        <div class="mx-auto caps center spaced">
          <h1 class="center">Marjolaine Goldsmith</h1>
        </div>
      </div>

      <div class="mxn2 clearfix mb3 menu">
        <div class="col-9 mx-auto caps italic bold center">
          <div class="col col-6 md-col-3">
            <h4><a href="" class="nostyle">Resume</a></h4>
          </div>
          <div class="col col-6 md-col-3">
            <h4><a href="" class="nostyle">Headshot</a></h4>
          </div>
          <div class="col col-6 md-col-3">
            <h4><a href="" class="nostyle">Video</a></h4>
          </div>
          <div class="col col-6 md-col-3">
            <h4><a href="" class="nostyle">Bio</a></h4>
          </div>
        </div>
      </div>

      <div class="mxn2 clearfix">
        <div class="col-8 md-col-5 px2 mx-auto center">
          {{content}}
        </div>
      </div>

      <script>
      // Preload gif
      var image = new Image();
      image.src = '/images/mj.jpg';
      </script>
    </body>
</html>
