@import "normalize";

body {
    font-size: .9em;
    font-family: 'Gotham SSm A', 'Gotham SSm B';
    font-weight: 700;
    font-style: normal;
    color: lighten(black, 5%);
    width: 100%;
    min-width: 920px;
    text-transform: uppercase;
}

ul {
    list-style-type: none;
    padding-left: 40px;
    padding-right: 40px;
    line-height: 2.3em;
    margin: 0;
    text-align: center;

    li {
        display: inline;
        margin-left: 55px;
    }
}

.main {
    width: 920px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    letter-spacing: 5px;
    margin: 0;
    position: relative;
    padding: 40px;
    padding-bottom: 30px;
    font-size: 57px;
    width: 100%;
}

a {
    color: inherit;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

.sidebar {
    display: inline-block;
    position: relative;
    padding: 40px;
    width: 300px;
    float: left;
}

.content {
    display: block;
    position: relative;
    float: left;
    width: 500px;
    padding-left: 40px;
    padding-top: 40px;
}

@media (max-width: 920px) {
  body {
    font-size: 1.4em;
  }

  h1 {
    font-size: 500%;
    width: auto;

    span {
        display: none;
    }

    &:after {
        content: "Marjolaine";
    }
  }

  ul {
    line-height: 1.7em;
  }

  .sidebar {
    width: 100%;
  }

  .main {
    width: 100%;
  }

  .content {
    width: 100%;
  }

}

